* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 17px;
    line-height: 1.65;
    color: #555;
}

h1, h2, h3 {
    text-transform: uppercase;
}

h3, h4 {
    font-size: 20px;
}
h3{
    line-height: 1.6;
}

h1, h2, h3, h4 {
    font-weight: normal;
    color: #105c61;
    margin: 0;
}

h1 {
    margin-bottom: 40px;
    font-size: 25px;
}

h1::after {
    content: '';
    width: 60px;
    height: 2px;
    display: block;
    border-bottom: 2px solid #e5e5e5;
    margin: 20px auto 0 auto;
}

h3::before {
    content: '';
    width: 40px;
    height: 2px;
    display: block;
    border-bottom: 2px solid #e5e5e5;
    margin-bottom: 20px;
}

h4 {
    margin-bottom: 10px;
}

p {
    margin-top: 0;
}

a {
    color: #0072bc;
}

button {
    border: none;
    font-size: 17px;
    line-height: 1.65;
}

button:hover,
button:focus {
    cursor: pointer;
}

.hero {
    min-height: 500px;
    background-image: url("images/banner-artworking.png");
    background-size: cover;
}

.hero button {
    margin: 20px 0 0 20px;
    padding: 0;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
}

.hero button i {
    margin-right: 10px;
}

main {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: minmax(20px, 1fr) minmax(0, 500px) minmax(0, 500px) minmax(20px, 1fr);
    margin-bottom: 20px;
}

.subheader {
    margin-top: 30px;
    grid-column: 2 / span 2;
    justify-self: center;
    text-align: center;
}

.main-content {
    grid-column: 2;
}

form {
    grid-column: 3;
}

@media screen and (max-width: 600px) {
    .main-content,
    form {
        grid-column: 2 / span 2;
    }
}

fieldset {
    border: none;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 2px 0;
    margin: 0 0 1px 0;
}

label,
input {
    display: inline-block;
}

label {
    width: 35%;
}

input {
    width: 63%;
    background-color: #f4f1f0;
    padding: 5px 10px;
    border: none;
    font-size: 17px;
    line-height: 1.65;
    color: #555;
}

form button {
    display: block;
    border-radius: 25px;
    background: #ed763f;
    color: #fff;
    padding: 10px 40px;
    text-transform: uppercase;
    margin: 20px auto 0 auto;
    text-align: center;
}
